<!doctype html>
<html lang="de">
	<head>
	    <meta charset="utf-8">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <meta name="viewport" content="width=device-width, user-scalable=no">
	    <link rel="stylesheet" href="/assets/main.css">
	    
	</head>

	<body>
		<style>
			html {
			    touch-action: manipulation;
			}
		</style>
		<header>
		</header>

		<div class="page-wrap">
		    <section id="search-results" style="display: none;"> </section>
		    {{ content }}
		</div>
		<footer class="footer section white">
			<div class="social-nav">
			    <center><a class="imprint simple-btn" href="https://okfn.de/impressum/">Impressum</a></center>
			    <br>
			</div>
			<div class="sponsors-nav">

			    <div lass="cc-info">
				<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://raw.githubusercontent.com/fablabcb/fablabcb.github.io/master/assets/img/static/cc-by88x31.png" /></a><br/><p class="bold">Inhalte dieser Webseite sind, sofern nicht anders angegeben, nach <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons 4.0 Attribution lizenziert.</a>
			    </div>
			    <div class="gdpr-message col-lg-offset-6 col-md-offset-6 col-xs-24 col-md-12 col-lg-12">
				Wir nutzen aus Überzeugung keinerlei Cookies. Unsere Datenschutzerklärung findet ihr im <a  target="_blank" href="https://okfn.de/impressum/">Impressum</a>.</p>
			    </div>
			</div>
		</footer>
	</body>
</html>
